<div>
    
    <!-- Container: Text and Data Collection from the User -->
    <section class="content container cont-bg-mgr">
        <div class="row">
            <div class="col-md-12">
                <h1>All the burgers, none of the calories!</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 ">
                <img class="img-fluid rounded mx-auto d-block" src="/assets/images/hero.jpg" alt="burger sign" title="burger sign">
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <form>
                    <div class="form-group form-spacer">
                        <label class="label-larger" for="burger_name">If you could eat any burger right now, what would it be?</label>
                        <input type="text" class="form-control" id="burger_name" placeholder="e.g. Bluecheese Angus Burger, Zen Chicken Burger, etc." />
                    </div>
                </form>
            </div>
        </div>
    </section>
</div>